@import "@fortawesome/fontawesome-free/css/all.css";
@import url("../../public/assets/css/bootstrap.css");
@import url("../../public/assets/css/dataTables.min.css");
@import url("../../public/assets/css/select2.min.css");

@font-face {
    font-family: "Kadwa";
    src: url("../../public/assets/fonts/Kadwa-Bold.ttf");
}

@font-face {
    font-family: "Kanit";
    src: url("../../public/assets/fonts/Kanit-Regular.ttf");
}

@font-face {
    font-family: "Kanit-Thin";
    src: url("../../public/assets/fonts/Kanit-Thin.ttf");
}


* {
    padding: 0%;
    margin: 0%;
    list-style: none;
    font-family: "Kadwa";
}

a {
    text-decoration: none;
    color: #464646;
}

.navbar-main {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0.7% 0.7%;
    background-color: #376507;
}

.nav-title>h1 {
    color: white;
    font-family: "Arial";
    height: 70%;
    color: #F4D22E;
}

.login-main-content {
    width: 100%;
    height: 90vh;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}


.login-form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 1% 1%;
    width: 23%;
    height: 48%;
    border: #8467ED solid 1px;
    border-radius: 16px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.19);
}

.fa-arrow-left {
    color: white;
    margin-left: 10px;
    color: #F4D22E;
}

.login-title {
    width: 100%;
    text-align: center;
    font-family: "Kadwa";
}

.form-field>label {
    color: #8467ED;
}

.form-control {
    border: #DDD6FE solid 1px !important;
    outline: #DDD6FE solid 1px !important;
}

.form-submit {
    color: white !important;
    font: bold !important;
    background-color: #8467ED !important;
    outline: none !important;
}

.user-search {
    width: 400px !important;
    background-color: #447423 !important;
    border: solid 0.5px #447423 !important;
    outline: solid 0.5px #447423 !important;
    color: white !important;
}

.user-search:focus {
    border: solid 0.5px white !important;
    outline: solid 0.5px white !important;
}

#user-nav-action {
    right: 20px;
    width: 7%;
    text-align: center;
    margin-top: 1%;
}

#user-nav-action::after {
    content: '';
    position: absolute;
    top: -10px;
    right: 0px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent transparent #fff;
    /* Pointer color matches bubble */
}

.fa-graduation-cap,
.fa-book-open {
    color: #8467ED !important;
}

#user-nav-action>a {
    padding: 1% 1%;
}

.fa-user {
    color: white;
    cursor: pointer;
}

.btn-add {
    background-color: #447423 !important;
    border: 1px solid #8667ED !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.19);
}

.btn-close-c {
    background-color: white !important;
    border: solid 1px black !important;
    color: black !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.19);

}

.btn-user-data {
    background-color: #EC7237 !important;
}

.btn-user-view {
    background-color: #8467ED !important;
}

.remark {
    width: 40px !important;
    padding: 3% 15%;
    border-radius: 999px;
    color: white;
    font-family: "Kanit";
}

.passing {
    background-color: green;
}

.failing {
    background-color: red;
}

.modal-body>h2 {
    font-family: "Kanit";
    text-align: center;
}

.nav-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}



.btn-add,
.btn-close-c {
    width: 30% !important;
}

.modal-header {
    display: flex;
    justify-content: center !important;
}

.modal-title,
.form-group>label {
    font-family: "Kanit" !important;
    font-weight: normal;
    font-size: 25px !important;
}

.form-group>label {
    font-size: 18px !important;
    color: black;
}

.custom-footer {
    flex-direction: column;
    margin-top: -50px;
}

.custom-footer>button {
    width: 100% !important;
}


.nav-right {
    display: flex;
    gap: 40px;
    align-items: center;
    margin-right: 20px;
}

.card-title {
    font-size: 15px;
    color: #8667ED !important;
}


.button-34 {
    background: #376507;
    border-radius: 4px;
    box-sizing: border-box;
    color: white !important;
    cursor: pointer;
    font-family: "Arial";
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    opacity: 1;
    outline: 0 solid transparent;
    padding: 8px 18px;
    border: 0;
    transition: transform .5s;
    float: right;
}

.button-35 {
    background-color: white;
    color: #376507 !important;
    border: solid 1px #376507;
}

.button-34:hover {
    transform: scale(1.1);
}

table>tbody>tr {
    background-color: white !important;
    padding: 2% 2% !important;
}

.search-user {
    border-radius: .9em !important;
    width: 400px !important;
}

.user-search-container {
    display: flex;
}

.search-result {
    position: absolute;
    margin-top: 3%;
    background-color: white;
    width: 400px;
    height: fit-content;
    padding-top: .5%;
    z-index: 1;
    border-radius: .3em;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.19);
}

.s-active {
    display: flex !important;
}

.s-inactive {
    display: none !important;
}

.result {
    cursor: pointer;
    width: 100%;
    height: 100%;
    padding: 2% 2%;
    border-bottom: solid 1px black;
}

.result:last-of-type {
    border-bottom: none;
}

.result:hover {
    background-color: rgb(215, 215, 215);
}

.passed {
    color: #5BA54C !important;
}

.failed {
    color: #DD4135 !important;
}

.no-grade {
    color: #E95A38 !important;
}

.enrolled {
    color: #376507 !important;
}

.s-data {
    margin-top: 5px;
}

.no_grade {
    background-color: #2c2c2c6e;
}

.student-header {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.data-info {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.left,
.right {
    width: 50%;
}

.info-title {
    font-family: "Kanit";
    height: 15px;
}

.info-title~b {
    font-weight: bold;
    font-family: "Arial" !important;
    color: black;
}

.student-header>i>b {
    font-family: "Arial";
}

.acdmc {
    font-size: 23px;
    color: black;
}

.report-table {
    width: 100%;
    border-collapse: collapse;
}

.report-th,
.report-td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.report-th {
    font-family: "Arial";
}

.report-tr:nth-child(even) {
    background-color: #f2f2f2;
}

.report-tr:hover {
    background-color: #0000001e;
}


#drop-area {
    border: 2px dashed #ccc;
    border-radius: 20px;
    font-family: sans-serif;
    padding: 1% 4%;
}

#drop-area.highlight {
    border-color: purple;
}

#drop-area > p {
    margin-top: 0;
}

.my-form {
    margin-bottom: 10px;
}

#gallery {
    margin-top: 10px;
}

#gallery img {
    width: 150px;
    margin-bottom: 10px;
    margin-right: 10px;
    vertical-align: middle;
}

.button {
    display: inline-block;
    padding: 10px;
    background: #ccc;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.button:hover {
    background: #ddd;
}

#fileElem {
    display: none;
}